{#
    Template that display the map.
#}

<div id="map_container" class="grid_7 alpha">
   <div style="position: relative;">
      <div id="map" class="map">
      </div>

      <div id="voies_lentes_div">
         <label class="checkbox" for="voies_lentes_visible">
            <input id="voies_lentes_visible" type="checkbox">
            Voies lentes
         </label>
      </div>

      <div id="logos_partenaires">
         <div id="managed_by">
            {{ 'tools_panel.managed_by'|trans({}, 'messages') }}<br /> 
            <a href="" id="managed_by__url" target="new">
               <img src="" id="managed_by__img">
            </a>
         </div>
         <div id="with_support_from">
            {{ 'tools_panel.with_support_from'|trans({}, 'messages') }}<br />  
            <div>
               <a href="http://www.gracq.be" target="new"><img src="{{ asset('img/logos/icon_gracq.png') }}" alt="Gracq - les cyclistes quotidiens ASBL"></a>
            </div>

            <div>
               <a href="http://www.wallonie.be/" target="new"><img src="{{ asset('img/logos/icon_coq_wallon.jpg') }}" alt="Région wallonne"</a>
            </div>

            <div>
               <a href="http://mobilite.wallonie.be" target="new"><img src="{{ asset('img/logos/logo_wacy.png') }}" alt="Plan Wallonie Cyclable"></a>
            </div>
         </div>
      </div>
   </div>

   <div id="map_legend">
      <b style="text-decoration:underline;">{{ 'tools_panel.color_legend'|trans({}, 'messages') }}</b><br>
      <img src="{{ asset('img/OpenLayers/m_short_w.png') }}">{{ 'filter.white_state'|trans({}, 'messages') }} &nbsp; &nbsp;
      <img src="{{ asset('img/OpenLayers/m_short_r.png') }}">{{ 'filter.red_state'|trans({}, 'messages') }} &nbsp; &nbsp;
      <img src="{{ asset('img/OpenLayers/m_short_o.png') }}">{{ 'filter.orange_state'|trans({}, 'messages') }} &nbsp; &nbsp;
      <img src="{{ asset('img/OpenLayers/m_short_g.png') }}">{{ 'filter.green_state'|trans({}, 'messages') }}
   </div>
</div>

<div id="actions_panel" class="grid_5 omega">
   <div id="div__add_new_description">
      {% include "ProgracqteurWikipedaleBundle:Main:add_new_report.html.twig" %}
   </div>

   <div id="div__filter_and_export">
      {% include "ProgracqteurWikipedaleBundle:Main:filter_and_export.html.twig" %}
   </div>

   <div id="div__report_description_display" style="display:none;">
      {% include "ProgracqteurWikipedaleBundle:Main:report_description.html.twig" %}
   </div>

   <div id="div__latest_modifications" class="lateral_content no_border">
      {% include "ProgracqteurWikipedaleBundle:Main:latest_modifications.html.twig" %}
   </div>

   <div id="div__town_presentation">
      {% include "ProgracqteurWikipedaleBundle:Main:town_presentation.html.twig" %}
   </div>

   <div id="div__town_choice">
      {% include "ProgracqteurWikipedaleBundle:Main:town_choice.html.twig" %}
   </div>
</div>