<a href="http://www.gracq.be" style="padding-right:10px" target="new"><img src="{{ asset('img/logos/logo_gracq_big.png') }}" height="80px" /></a>
<a href="http://www.wallonie.be/" style="padding-right:10px" target="new"><img src="{{ asset('img/logos/icon_coq_wallon.jpg') }}"></a>
<a href="http://mobilite.wallonie.be" style="padding-right:10px" target="new"><img src="{{ asset('img/logos/logo_WallonieCyclable.jpg') }}" height="80px"/></a>

<a href="http://www.entre-sambre-et-meuse.be" style="padding-right:10px" target="new"><img src="{{ asset('img/logos/logo_esem.jpg') }}" height="80px"/></a>
<a href="www.botteduhainaut.com" style="padding-right:10px" target="new"><img src="{{ asset('img/logos/logo_mtbh.jpg') }}" height="80px"/></a>
<a href="http://www.europe-centre.eu/fr/42/Le_programme_LEADER.html" style="padding-right:10px" target="new"><img src="{{ asset('img/logos/logo_LEADER.jpg') }}" height="80px"/></a>
<a href="http://www.europa.eu" style="padding-right:10px" target="new"><img src="{{ asset('img/logos/logo_europe.jpg') }}" height="80px"/></a>
