{#
    Template of the main webpage of the application.
#}

{% extends "ProgracqteurWikipedaleBundle::layout.html.twig" %}

{# 
Params passed by the controller to this template :

 'mainCities' (empty if the user has chosen a city) 
         array of Progracqteur\WikipedaleBundle\Entity\Management\Zone
 'cities'  (empty if the user has chosen a city) 
         array of Progracqteur\WikipedaleBundle\Entity\Management\Zone
 'categories' 
         array of Progracqteur\WikipedaleBundle\Entity\Model\Category
 'reportTypes' (voir report_description)
         array of Progracqteur\WikipedaleBundle\Entity\Model\Report\ReportType
 'managers' (empty if the user has NOT chosen a city)
         array of Progracqteur\WikipedaleBundle\Entity\Management\Group
         #}

{% block javascript %}
    <script language="javascript">       
        // security
        {% render (controller("ProgracqteurWikipedaleBundle:Token:insertTokens" , {'number':15})) %}
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet"  href="{{ asset('css/map.css') }}" type="text/css"/>
    <link rel="stylesheet"  href="{{ asset('js/bower_components/ol3-unofficial/ol.css') }}" type="text/css"/>
    <link rel="stylesheet"  href="{{ asset('css/actions_panel.css') }}" type="text/css"/>
{% endblock %}

{% block body %}
    {% if (app.session.get('city') ) %}
        {% if selectedReportId is defined %}
            <span id="data_for_init" data-city='{{ app.session.get('city').name }}' data-lon="{{app.session.get('city').center.lon}}" data-lat="{{app.session.get('city').center.lat}}" data-description_selected_id="{{selectedReportId}}"></span>
        {% else %}
            <span id="data_for_init" data-city='{{ app.session.get('city').name }}' data-lon="{{app.session.get('city').center.lon}}" data-lat="{{app.session.get('city').center.lat}}"></span>
        {% endif %}
        {% include 'ProgracqteurWikipedaleBundle:Default:map.html.twig' %}
    {% else %}
        {% include 'ProgracqteurWikipedaleBundle:Default:map.html.twig' %}
    {% endif %}
{% endblock %}
