<div id="map_container" class="grid_7 alpha">
   <div style="position: relative;">
      <div id="map">
      </div>

      <div id="logos_partenaires">
         <div id="managed_by">
            {{ 'tools_panel.managed_by'|trans({}, 'messages') }}<br /> 
            <a href="http://www.{{ app.session.get('city').name | lower }}.be" target="new">
               <img src="{{ asset('img/cities/') }}logo_{{ app.session.get('city').name }}.png" alt="Logo de {{ app.session.get('city').name }}">
            </a>
         </div>
         <div id="with_support_from">
            {{ 'tools_panel.with_support_from'|trans({}, 'messages') }}<br />  
            <div>
               <a href="http://www.gracq.be" target="new"><img src="{{ asset('img/logos/icon_gracq.png') }}" alt="Gracq - les cyclistes quotidiens ASBL"></a>
            </div>

            <div>
               <a href="http://www.wallonie.be/" target="new"><img src="{{ asset('img/logos/icon_coq_wallon.jpg') }}" alt="Région wallonne"</a>
            </div>

            <div>
               <a href="http://mobilite.wallonie.be" target="new"><img src="{{ asset('img/logos/logo_wacy.png') }}" alt="Plan Wallonie Cyclable"></a>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="actions_panel" class="grid_5 omega">
   <div id="div__add_new_description">
      {% include "ProgracqteurWikipedaleBundle:Default:add_new_description.html.twig" %}
   </div>

   <div id="div__filter_and_export">
      {% include "ProgracqteurWikipedaleBundle:Default:filter_and_export.html.twig" %}
   </div>

   <div id="div__place_description_display" style="display:none;">
      {% include "ProgracqteurWikipedaleBundle:Default:place_description.html.twig" %}
   </div>

   <div id="div__latest_modifications" class="lateral_content no_border">
      {% include "ProgracqteurWikipedaleBundle:Default:latest_modifications.html.twig" %}
   </div>
</div>