{% extends "ProgracqteurWikipedaleBundle::layout_printable.html.twig" %}

{% block title %}{{ 'Report list'|trans({}, 'reportMessages') }}{% endblock title %}

{% block css %}
    <link type="text/css" href="{{ asset('css/report_printable.css') }}" rel="stylesheet" />
    <link type="text/css" href="{{ asset('js/bower_components/ol3-unofficial/ol.css') }}" rel="stylesheet" />
{% endblock css %}

{% block javascript %}
    <script src="{{ asset('js/bower_components/ol3-unofficial/ol-debug.js') }}" type="text/javascript" ></script>
    <script type="text/javascript">
        var web_dir = "{{ asset('') }}";
    </script>
    <script src="{{ asset('js/report_printable.js') }}" type="text/javascript"></script>
{% endblock javascript %}

{% block content %}
{% if reports|length == 0 %}
<p>{{ 'No reports to print'|trans }}</p>
{% else %}
{% for report in reports %}
{%  include 'ProgracqteurWikipedaleBundle:Report:view_printable.html.twig' with {'report' : report } %}
{% endfor %}
{% endif %}
{% endblock content %}