{% extends "ProgracqteurWikipedaleBundle:FirefoxOS:city_layout.html.twig" %}

{% block city_content %}

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script data-main="{{ asset('js/app_firefoxos.js') }}" src="{{ asset('js/require.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('css/colorbox.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('js/lib/select2-3.3.2/select2.css') }}" type="text/css"/>
        
    <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}" />

    <noscript>
        <link rel="stylesheet" href="{{ asset('js/lib/adapt.js/assets/css/mobile.min.css') }}" />
    </noscript>
    
    <script>
        var ADAPT_CONFIG = {
            // Where is your CSS?
            path: '{{ asset("js/lib/adapt.js/assets/css/") }}',
            dynamic: true,
            range: [
                '0px    to 760px  = mobile.min.css',
                '760px  to 980px  = 720.min.css',
                '980px  to 1280px = 960.min.css',
                '1280px to 1600px = 1200.min.css',
                '1600px to 1940px = 1560.min.css',
                '1940px to 2540px = 1920.min.css',
                '2540px           = 2520.min.css'
            ]
        };
    </script>
    <script src="{{ asset('js/lib/adapt.js/assets/js/adapt.min.js') }}"></script>    

    {% if (app.session.get('city') ) %}
        {% if selectedReportId is defined %}
            <span id="data_for_init" data-city='{{ app.session.get('city').name }}' data-lon="{{app.session.get('city').center.lon}}" data-lat="{{app.session.get('city').center.lat}}" data-description_selected_id="{{selectedReportId}}" data-firefoxos="true"></span>
        {% else %}
            <span id="data_for_init" data-city='{{ app.session.get('city').name }}' data-lon="{{app.session.get('city').center.lon}}" data-lat="{{app.session.get('city').center.lat}}" data-firefoxos="true"></span>
        {% endif %}
    {% endif %}
	<div id="MapAndEditorContener">
		<div id="map"></div>
	</div>

	<div id="ToolsPanel">
		<div id="add_new_description">
            <div id="div_add_new_description_button" class="buttonPlus" title="Button is to be clicked">
                Ajouter un signalement
            </div>
        </div>

        <div id="olPanelUL"></div>
        
        {% include "ProgracqteurWikipedaleBundle:Default:report_description.html.twig" %}

        
    </div>
{% endblock %}