<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title %}Uello{% endblock %}</title>

        <meta name="viewport" content="width=device-width">
        
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script data-main="{{ asset('js/app.js') }}" src="{{ asset('js/require.js') }}"></script>


        <link rel="stylesheet" href="{{ asset('js/bower_components/colorbox/example1/colorbox.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('js/bower_components/select2/select2.css') }}" type="text/css"/>

        {% block javascript %}
            <!-- Aucun fichier javascript ajouté par le template -->
        {% endblock %}
            
        <link rel="stylesheet"  href="{{ asset('css/layout.css') }}" type="text/css"/>
        <link rel="stylesheet"  href="{{ asset('css/main.css') }}" type="text/css"/>
        <link rel="stylesheet"  href="{{ asset('css/forms.css') }}" type="text/css"/>
        
        <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}" />

        {% block css %}
            <!-- Aucune instruction css ajouté par le template -->
        {% endblock %}

        <noscript>
            <link rel="stylesheet" href="{{ asset('js/bower_components/adapt/assets/css/mobile.min.css') }}" />
        </noscript>
        <script>
            var ADAPT_CONFIG = {
                // Where is your CSS?
                path: '{{ asset("js/bower_components/adapt/assets/css/") }}',
                dynamic: true,
                range: [
                    '0px    to 760px  = mobile.min.css',
                    '760px  to 980px  = 720.min.css',
                    '980px  to 1280px = 960.min.css',
                    '1280px to 1600px = 1200.min.css',
                    '1600px to 1940px = 1560.min.css',
                    '1940px to 2540px = 1920.min.css',
                    '2540px           = 2520.min.css'
                ]
            };
        </script>
        <script src="{{ asset('js/bower_components/adapt/assets/js/adapt.min.js') }}"></script>    
    </head>
    <body>  
        <div class="container_12">   

            <!-- Écran de connexion -->
            <div style='display:none'>
                <div id='login_form_div'>
                    <b><font color="red"><span id='login_message'></span></font></b><br />
                    <form method="post" action="" id="loginForm">
                        <p>
                            <label for="login_input_username">{{ 'security.login.username'|trans({}, 'userMessages') }}</label>
                            <input type="text" id="login_input_username" name="username"/>
                        </p>
                        <p>
                            <label for="login_input_password">{{ 'security.login.password'|trans({}, 'userMessages') }}</label>
                            <input type="password" id="login_input_password" name="password"/>
                        </p>

                        <input class="submit" type="submit" id="login_input_submit" name="submit" value="{{ 'security.login.submit'|trans({}, 'userMessages') }}" />
                    </form>

                    <div style="clear:both;"></div>
                    <p>
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'security.login.go_to_registration'|trans({}, 'userMessages') }}</a><br />
                        <a href="{{path('fos_user_resetting_request') }}">{{ 'security.login.go_to_password_resetting'|trans({}, 'userMessages') }}</a>
                    </p>
                </div>
            </div>

            <div class="grid_12" id="banner">
                <div style="float:left; height:80px; padding-left:1%">
                    <img src="{{asset('img/banner/velo1.png')}}">
                </div>
                <div style="float:left; height:80px; padding-left:5%">
                    <img src="{{asset('img/banner/logo.png')}}">
                </div>
                <div style="float:left; height:80px; padding-left:6%">
                    <img src="{{asset('img/banner/marqueur.png')}}">
                </div>
                <div style="float:right; height:80px; padding-right:8%">
                    <img src="{{asset('img/banner/velo3.png')}}">
                </div>
                <div style="float:right; height:80px; padding-right:15%">
                    <img src="{{asset('img/banner/velo2.png')}}">
                </div>    
            </div>

            <div class="grid_12">
                <div id="horizontal_menu">
                    <div>
                        <a href="{{path('wikipedale_reset_zone_selection')}}">
                            <img src="{{asset('img/menu/accueil.png')}}" />
                            {{ 'layout.home'|trans({}, 'messages') }}
                        </a>
                    </div>

                    <div>
                        <div id="menu_connexion" {% if app.user %} style="display:none" {% endif %}>
                            <a class ="connexion" href="#login_form_div">
                                <img src="{{asset('img/menu/connection.png')}}" />
                                {{ 'layout.login'|trans({}, 'messages') }}
                            </a>
                        </div>
                        <div id="menu_logout" {% if not app.user %} style="display:none" {% endif %}>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <img src="{{asset('img/menu/connection.png')}}" />
                                {{ 'layout.logout'|trans({}, 'messages') }}
                            </a>
                        </div>
                    </div>

                    <div>
                        <div id="menu_user_name" {% if not app.user %} style="display:none" {% endif %}>
                            <a href="{{ path('fos_user_profile_show') }}" title="{{ 'layout.profile'|trans({'%username%': ''}, 'messages') }}">
                                <img src="{{asset('img/menu/personne.png')}}" />
                                {{ 'layout.logged_in_as'|trans({'%username%': ''}, 'messages') }}
                                <span class="username">{% if app.user %} {{app.user.label}} {% endif %}</span>
                            </a>
                        </div>

                        <div id="menu_register" {% if app.user %} style="display:none" {% endif %}>
                            <a href="{{ path('fos_user_registration_register') }}">
                                <img src="{{asset('img/menu/personne.png')}}" />
                                {{ 'layout.register'|trans({}, 'messages') }}
                            </a>
                        </div>
                    </div>

                    <div id="menu_aide">
                        <a href=" {{ user_manuel_url }} ">
                            <img src="{{asset('img/menu/aide.png')}}" />
                            {{ 'layout.help'|trans({}, 'messages') }}
                        </a>
                    </div>

                    <div id="menu_a_propos">
                        <a href="{{path('wikipedale_about')}}">
                            <img src="{{asset('img/menu/info.png')}}" />
                            {{ 'layout.about'|trans({}, 'messages') }}
                        </a>
                    </div>

                    <div id="menu_contact">
                        <a href="mailto:uello@gracq.be">
                            <img src="{{asset('img/menu/contact.png')}}" />
                            {{ 'layout.contact'|trans({}, 'messages') }}
                        </a>
                    </div>

                    <div>
                    {% if mainCities is defined %}
                        <select id="menu_city_selection" onchange="location = this.options[this.selectedIndex].value;">
                        {% if selectedZone is defined %}
                            <option>{{ selectedZone.name}}</span></option>
                        {% else %}
                            <option>Sélectionner une ville</option>
                        {% endif %}
                            {% for city in mainCities %}
                            <option value="{{ path('wikipedale_zone_zoom_on', {'zoneSlug': city.slug})}}">{{city.name}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            
            <div class="grid_12">

                {% if app.session.flashbag.has('notice') %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% endif %}
                
                {% block zoneMenu %}{% endblock %}

                {% block body %}Rien dans le body...{% endblock %}
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
